{
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": ["*.astro", "*.jsx", "*.js", "*.tsx", "*.ts"],
      "options": {
        "singleAttributePerLine": true
      }
    }
  ],
  "singleAttributePerLine": true
}