<div
  class="p-4 text-center flex-grow overflow-auto flex items-center justify-center h-full"
>
  <div class="bg-red-500 rounded-lg p-4 mt-4 shadow-xl">
    <p class="text-neutral-600 font-semibold">
      Unstable for mobile devices. Unfortunately, this experiment has proven
      unreliable for mobile.
    </p>
    <p class="text-neutral-600 font-semibold mt-4">
      Please try on a desktop machine, preferably using Chrome.
    </p>
  </div>
</div>
